<footer>
    <div class="footer">
        <div class="footer-media">
            <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class="footer-comp">&copy; 2024 Hunger Pvt.Ltd</div>
        <div class="footer-links">
            <a href="/privcy">Privcy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>