<% layout("/layouts/boilerplate.ejs") %>
<div class="row mb-3 mt-3">
  <div class="col-6 offset-3 border">
    <div style="text-align: center">
      <h2 style="color: #000; font-weight: 900">Hunger</h2>
      <h5>Login User</h5>
    </div>
    <form method="post" action="/login" class="needs-validation" novalidate>
      <div class="mt-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control signupLogin-form"
          required
        />
      </div>
      <div class="mt-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control signupLogin-form"
          required
        />
      </div>
      <br /><button
        class="btn btn-dark edit-btn"
        style="width: 100% !important"
      >
        Login
      </button>
    </form>
    <div class="mt-3">
      New to Hunger ?
      <a href="/signup" style="color: orange; text-decoration: none !important"
        >Create account</a
      >
    </div>
  </div>
</div>
